* {
    margin: 0px;
    padding: 0px;
    color: #434343;
    font-family: Arial;
}

div {
    padding: 10px 10px;
    height: 12px;
    line-height: 12px;
    width: 300px;
    background-color: rgba(0, 162, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    margin: 0 5px;
}

div::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(http://bpic.588ku.com/element_water_img/18/07/06/269c1f5dfb1c31127499a3adf81737a3.jpg);
    background-size: 100% 100%;
    vertical-align: -2px;
}

div::after {
    content: "";
    /* display: inline-block; */
    width: 10px;
    height: 10px;
    background-image: url(http://bpic.588ku.com/element_water_img/18/07/06/269c1f5dfb1c31127499a3adf81737a3.jpg);
    background-size: 100% 100%;
    /* vertical-align: -2px; */
    margin-top: 2px;
}